/* -------------------- */
/* custom properties    */
/* -------------------- */

:root {
  /* colors */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(198, 28%, 93%);
  --clr-neutral-300: hsl(221, 23%, 58%);
  --clr-neutral-400: hsl(220, 50%, 17%);

  --clr-primary-100: hsl(22, 100%, 69%);
  --clr-primary-200: hsl(22, 89%, 52%);

  /* font sizes */
  --fs-400:	1rem;
  --fs-500:	1.125rem;
  --fs-600:	1.5rem;
  --fs-700:	2rem;
  --fs-800:	3rem;
  --fs-900:	3.5rem;

  /* font family */
  --ff-sans: 'Barlow', sans-serif;

}

/* -------------------- */
/* Reset                */
/* -------------------- */
/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins reset */
body,
h1,
h2,
h3,
p,
picture {
  margin: 0;
}

/* set up body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 500;
  min-height: 100vh;
}

/* set up buttons */
button {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

/* -------------------- */
/* components           */
/* -------------------- */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  overflow: hidden;
  padding: 1.5rem 0 3.5rem;
}
button {
padding: .906em .886em;
}

/* --------------- header --------------- */
.head {
  justify-content: space-between;
  flex-direction: row;
  padding-inline: 1.5rem;
  margin-bottom: 4rem;
}

/* --------------- sec one --------------- */
.one {
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
}
.one__main {
  margin-bottom: 4rem;
}
.one__main--head {
  font-size: var(--fs-800);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 2rem;
}
.one__main--text {
  color: var(--clr-neutral-300);
  line-height: 1.625em;
  margin-bottom: 2rem;
}
.one__foot {
  flex-direction: row;
  gap: 2rem;
}
.one__foot--btn {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-200); 
}
.one__foot--text {
  font-weight: 700;
  color: var(--clr-neutral-300);
  text-transform: uppercase;
}
.one__img {
  width: 23.25rem;
  height: 20.6875rem;
  border-radius: 1rem;
  margin-left: 44px;
}

/* --------------- sec two --------------- */
.two {
  margin-bottom: 6.9375rem;
}
.two__img {
  height: 12.0625rem;
  gap: 1.5rem;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1.5rem;
  margin-bottom: 4.6875rem;
}
.two__img-cover {
  width: 8.0625rem;
  border-radius: 1rem;
  background: var(--clr-primary-200);
}
.two__img--one {
  width: 8.0625rem;
  mix-blend-mode: multiply;
  border-radius: 1rem;
}
.two__img--two {
  width: 13.75rem;
  border-radius: 1rem;
}

.two__main {
  padding-inline: 1.5rem;
}
.two__main--head {
  font-size: var(--fs-700);
  font-weight: 900;
  line-height: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
}
.two__main--text {
  color: var(--clr-neutral-300);
  text-align: center;
  line-height: 1.625rem; 
}

/* --------------- sec three --------------- */
.three {
  text-align: center;
  padding-inline: 1.5rem;
  margin-bottom: 6rem;
}
.img-background {
  width: 4.0625rem;
  height: 4.0625rem;
  justify-content: center;
  border-radius: .5rem;
  background: var(--clr-primary-200);
  margin-inline: auto;
  margin-bottom: 3rem;
}
h3 {
  font-size: var(--fs-600);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;;
}
.three p {
  color: var(--clr-neutral-300);
  line-height: 1.625rem;
  margin-bottom: 4rem;
}
.three > div:nth-child(4) > *:nth-child(3) {
  margin-bottom: 0;
}

/* --------------- footer --------------- */
footer {
  font-weight: 700;;
  color: var(--clr-neutral-400);
  line-height: 1em;
  text-align: center;
}
.accent {
  font-weight: 500;
  color: var(--clr-neutral-300);
}

/* --------------- hover --------------- */
.head__btn:hover {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-400);
}
.one__foot--btn:hover {
  background: var(--clr-primary-100);
}

/* -------------------------------------- */
/* --------------- tablet --------------- */
/* -------------------------------------- */
@media (min-width: 48rem) {
  .wrapper {
    padding: 2.5rem 0 3.125rem;
  }
  button  {
    padding: 1.219em 1.668em;
  }
  /* --------------- header --------------- */
  .head {
    padding-inline: 2.5rem;
    margin-bottom: 3.875rem;
  }
 
  /* --------------- sec one --------------- */
  .one {
    flex-direction: row;
    gap: 4.3125rem;
    padding-left: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .one__main {
    flex-shrink: 0;
    width: 21.1875rem;
    margin-bottom: 0;
  }
  .one__img {
    width: 29.875rem;
    height: 26.5625rem;
    margin-left: 0;
  }

  /* --------------- sec two --------------- */
  .two {
    margin: 8.875;
  }
  .two__img {
    height: 20rem;
    gap: 1.875rem;
    justify-content: center;
    padding-right: 0;
    margin-bottom: 4.5rem;
  }
  .two__img-cover {
    width: 13.375rem;
    height: 100%;
    border-radius: 1rem;
    background: var(--clr-primary-200);
  }
  .two__img--one {
    width: 13.375rem;
    mix-blend-mode: multiply;
    border-radius: 1rem;
  }
  .two__img--two {
    width: 27.8125rem;
    border-radius: 1rem;
  }
  .two__main {
    flex-direction: row;
    align-items: center;
    gap: 2.25rem;
    padding-inline: 2.5rem;
    margin-bottom: 8.875rem;
  }
  .two__main--head {
    width: 15.9375rem;
    flex-shrink: 0;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .two__main--text {
    text-align: left;
  }

  /* --------------- sec three --------------- */
  .three {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    row-gap: 4.5rem;
    padding-inline: 2.5rem;
    margin-bottom: 8.875rem;
  }
  .three > * {
    width: 17.5625rem;
    height: 18.0625rem;
  }
  .img-background {
    margin: 0 auto 2.5rem 0;
  }
}

/* --------------------------------------- */
/* --------------- desktop --------------- */
/* --------------------------------------- */
@media (min-width: 90rem) {
  .wrapper {
    max-width: 90rem;
    padding: 3.4375rem 0 2.875rem;
    background-image: url(./assets/shared/pattern-square.svg), url(./assets/shared/pattern-square.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 81.5625rem 12.25rem, -7.5rem 59.375rem;
    margin-inline: auto;
  }

  /* --------------- header --------------- */
  .head {
    padding-inline: 10.3125rem;
    margin-bottom: 5.1875rem;
  }

  /* --------------- sec one --------------- */
  .one {
    padding-inline: 10.3125rem;
    gap: 7.8125rem;
    margin-bottom: 1.875rem;
  }
  .one__main {
    width: 27.8125rem;
  }
  .one__main--head {
    font-size: var(--fs-900);
    margin-bottom: 1.5rem;
  }
  .one__main--text {
    font-size: var(--fs-500);
    line-height: 1.625rem;
    margin-bottom: 2.5rem;
  }
  .one__foot {
    gap: 2.5rem;
  }
  .one__img {
    width: 33.75rem;
    height: 30rem;
    margin-left: 0;
  }

  /* --------------- sec two --------------- */
  .two {
    display: flex;
    flex-direction: row;
    gap: 7.8rem;
    padding-inline: 10.3125rem;
    margin-bottom: 10.5rem;
  }
  .two__img {
    height: 30rem;
    gap: 1.875rem;
    justify-content: center;
    padding-inline: 0;
    margin-bottom: 0;
  }
  .two__img-cover {
    width: 15.9375rem;
    height: 100%;
    border-radius: 1rem;
    background: var(--clr-primary-200);
  }
  .two__img--one {
    width: 15.9375rem;
    mix-blend-mode: multiply;
    border-radius: 1rem;
  }
  .two__img--two {
    width: 27.8125rem;
    border-radius: 1rem;
    margin-bottom: 0;
  }
  .two__main {
    flex-direction: column;
    align-self: center;
    padding-inline: 0;
    margin: 0;
  }
  
  /* --------------- sec three --------------- */
  .three {
    height: 20.1875rem;
    gap: 1.875rem;
    column-gap: 0;
    padding-inline: 10.3125rem;
    margin-bottom: 8rem;
  }
  .three__item {
    width: 255px;
  }
  .img-background {
    margin-bottom: 3rem;
  }
  h3 {
    font-size: var(--fs-600);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;;
  }
  .three p {
    margin-bottom: 0rem;
  }
}